@model COMP4911Timesheets.Models.WorkPackage

@{
    ViewData["PageTitle"] = "Details";
}

<h1>Weekly Work Package Report</h1>

<div>
    <h4>Report For: </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPackageCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkPackageCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <a asp-controller="WorkPackages" asp-action="Details" asp-route-id="@Model.WorkPackageId">View Work Package Overall Report</a>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @PayGrade.P1
            </th>
            <th>
                @PayGrade.P2
            </th>
            <th>
                @PayGrade.P3
            </th>
            <th>
                @PayGrade.P4
            </th>
            <th>
                @PayGrade.P5
            </th>
            <th>
                @PayGrade.P6
            </th>
            <th>
                @PayGrade.SS
            </th>
            <th>
                @PayGrade.JS
            </th>
            <th>
                @PayGrade.DS
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkPackageEmployees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackageEmployeeId)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
