@model IEnumerable<COMP4911Timesheets.Models.WorkPackage>

@{
    ViewData["Title"] = "Index";
}

<h1>Weekly Work Package Report</h1>
<br />
<p>Select the Work Package to View the Weekly Report</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackageCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPackageCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.WorkPackageId" class="btn btn-primary btn-raised">View Report</a>
            </td>
        </tr>
}
    </tbody>
</table>
