@model COMP4911Timesheets.Models.Employee

@{
    ViewData["Title"] = "This Employee needs " + Model.Timesheets.Count + " timesheet approvals";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approver.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supervisor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                WeekEnding
            </th>
            <th>
                WeekNumber
            </th>
            <th>
                FlexTime
            </th>
            <th>
                Status
            </th>
            <th>
                Employee
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Timesheets)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeekEnding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlexTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                <a asp-action="" asp-route-id="@item.TimesheetId">Approve</a>
            </td>
            <td>
                <a asp-action="" asp-route-id="@item.TimesheetId">Reject</a>
            </td>
        </tr>
        }
    </tbody>
</table>
