@model COMP4911Timesheets.Models.Employee

@{
    ViewData["PageTitle"] = "This Employee needs " + Model.Timesheets.Count + " timesheet approvals";
}

<h2>@ViewData["PageTitle"]</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row col-lg-6 well bs-component">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-8">
            @Employee.JobTitles[Model.Title]
        </dd>

    </dl>
</div>
<table class="table  well bs-component">
    <thead>
        <tr>

            <th>
                Week Ending
            </th>
            <th>
                Week Number
            </th>
            <th>
                Flex Time
            </th>
            <th>
                Status
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int a = 10;
            foreach (var item in Model.Timesheets)
            {
                <tr>

                    <td>
                        @{string date = item.WeekEnding.ToString("yyyy/MM/dd");}
                        @Html.DisplayFor(modelItem => date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeekNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlexTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Statuses[item.Status])
                    </td>

                    <td>
                        <a asp-action="TimesheetView" asp-route-id="@item.TimesheetId" class="btn btn-primary btn-raised">View</a>
                    </td>
                </tr>

            }
        }
    </tbody>


</table>

<a asp-action="Index">Back to List</a>