@model COMP4911Timesheets.Models.Timesheet

@{
    ViewData["PageTitle"] = "Timesheet View";
}

<h1>@ViewData["PageTitle"]</h1>

<div>
    <h4>Timesheet</h4>
    <hr />
    <dl class="row col-lg-6 well bs-component">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WeekEnding)
        </dt>
        <dd class="col-sm-8">
            @Model.WeekEnding.ToString("yyyy/MM/dd")
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WeekNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WeekNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FlexTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FlexTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-8">
            @Model.Statuses[Model.Status]
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>

<table class="table well bs-component table-responsive-sm">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Work Package
            </th>
            <th>
                Sat
            </th>
            <th>
                Sun
            </th>
            <th>
                Mon
            </th>
            <th>
                Tue
            </th>
            <th>
                Wed
            </th>
            <th>
                Thu
            </th>
            <th>
                Fri
            </th>
            <th>
                Notes
            </th>
        </tr>
    </thead>
    <tbody>
        @{ 
            foreach (var item in Model.TimesheetRows)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkPackage.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkPackage.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SatHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SunHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TueHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WedHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThuHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FriHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                </tr>
            }
        }
    </tbody>

</table>
<div>
    <!--
    <form asp-action="Approval">
        <input id="TimesheetId" type="hidden" asp-for="TimesheetId" />
        <input type="submit" value="Approve" class="btn btn-success btn-raised" />
    </form>
         -->
    <a asp-action="Approval" asp-route-id="@Model.TimesheetId" class="btn btn-info btn-raised">Approve</a>



    <button onclick="showBox()" class="btn btn-danger btn-raised">Reject</button>
</div>
<div id="myDIV" style="display:none">
    <form asp-action="Reject">
        <div class="form-group">
            <label asp-for="Comments" class="control-label"></label>
            <input asp-for="Comments" class="form-control" required/>
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="TimesheetId" />
        <input type="submit" value="Submit Rejection" class="btn btn-danger btn-raised" />
    </form>
</div>
<script>

    function showBox() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

