@model IEnumerable<COMP4911Timesheets.Models.ProjectReport>

@{
    ViewData["Title"] = "Project Report";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table well bs-component">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project.Name)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.StartingPercentage)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.CompletedPercentage)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => item.StartingPercentage)
                </td>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => item.CompletedPercentage)
                </td>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProjectReportId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProjectReportId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjectReportId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
