@model COMP4911Timesheets.Models.Timesheet

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Timesheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekEnding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekEnding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ESignature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ESignature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlexTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlexTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeePay.EmployeePayId)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    WorkPackageId
                </th>
                <th>
                    SatHour
                </th>
                <th>
                    SunHour
                </th>
                <th>
                    MonHour
                </th>
                <th>
                    TueHour
                </th>
                <th>
                    WedHour
                </th>
                <th>
                    ThuHour
                </th>
                <th>
                    FriHour
                </th>
                <th>
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>

            @if (Model.TimesheetRows != null)
            {
                foreach (var item in Model.TimesheetRows)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkPackageId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SatHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SunHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TueHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WedHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThuHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FriHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="TimesheetId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
