@model COMP4911Timesheets.Models.Timesheet

@{
    ViewData["PageTitle"] = "Details";
    double mon = 0, tue = 0, wed = 0, thu = 0, fri = 0, sat = 0, sun = 0, earn = 0;
}

<h1>@ViewData["PageTitle"]</h1>

<div>
    <h4>Timesheet</h4>
    <hr />
    <dl class="row col-lg-6 well bs-component">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WeekEnding)
        </dt>
        <dd class="col-sm-8">
            @Model.WeekEnding.ToString("yyyy/MM/dd")
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WeekNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WeekNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FlexTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FlexTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => COMP4911Timesheets.Models.Timesheet.Statuses[Model.Status])
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>

<table class="table well bs-component table-responsive-sm">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Work Package
            </th>
            <th>
                Sat
            </th>
            <th>
                Sun
            </th>
            <th>
                Mon
            </th>
            <th>
                Tue
            </th>
            <th>
                Wed
            </th>
            <th>
                Thu
            </th>
            <th>
                Fri
            </th>
            <th>
                Total
            </th>
            <th>
                Notes
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TimesheetRows != null)
        {
            foreach (var item in Model.TimesheetRows)
            {
                <tr>
                    <td>
                        @item.WorkPackage.Project.Name
                    </td>
                    <td>
                        @item.WorkPackage.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SatHour)
                        @{sat += item.SatHour;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SunHour)
                        @{ sun += item.SunHour;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonHour)
                        @{ mon += item.MonHour;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TueHour)
                        @{ tue += item.TueHour;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WedHour)
                        @{ wed += item.WedHour;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThuHour)
                        @{ thu += item.ThuHour;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FriHour)
                        @{fri += item.FriHour;}
                    </td>
                    <td class="timesheetTotal">
                        @(item.SatHour + item.SunHour + item.MonHour + item.TueHour + item.WedHour + item.ThuHour + item.FriHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>

                </tr>
            }
        }

        <tr>
            <td></td>
            <td class="timesheetTotal">
                Total
            </td>
            <td class="timesheetTotal">
                @sat
            </td>
            <td class="timesheetTotal">
                @sun
            </td>
            <td class="timesheetTotal">
                @mon
            </td>
            <td class="timesheetTotal">
                @tue
            </td>
            <td class="timesheetTotal">
                @wed
            </td>
            <td class="timesheetTotal">
                @thu
            </td>
            <td class="timesheetTotal">
                @fri
            </td>
            <td class="timesheetTotal">
                @(mon + tue + wed + thu + fri + sat + sun)
            </td>
            <td></td>

        </tr>

        <tr>
            <td></td>
            <td>
                Flex Hour Earned
            </td>
            <td>
                @if (sat > 8)
                {
                    earn += sat - 8;
                    @(sat - 8)
                }
                else
                {
                    @(0)
                }
            </td>
            <td>
                @if (sun > 8)
                {
                    earn += sun - 8;
                    @(sun - 8)
                }
                else
                {
                    @(0)
                }
            </td>
            <td>
                @if (mon > 8)
                {
                    earn += (mon - 8);
                    @(mon - 8)
                }
                else
                {
                    @(0)
                }
            </td>
            <td>
                @if (tue > 8)
                {
                    earn += (tue - 8);
                    @(tue - 8)
                }
                else
                {
                    @(0)
                }
            </td>
            <td>
                @if (wed > 8)
                {
                    earn += (wed - 8);
                    @(wed - 8)
                }
                else
                {
                    @(0)
                }
            </td>
            <td>
                @if (thu > 8)
                {
                    earn += (thu - 8);
                    @(thu - 8)
                }
                else
                {
                    @(0)
                }
            </td>
            <td>
                @if (fri > 8)
                {
                    earn += (fri - 8);
                    @(fri - 8)
                }
                else
                {
                    @(0)
                }
            </td>
            <td>
                @earn
            </td>
            <td></td>

        </tr>


    </tbody>
</table>


<div>
    @if (COMP4911Timesheets.Models.Timesheet.Statuses[Model.Status] == "Not Submitted & Not Approved" ||
 COMP4911Timesheets.Models.Timesheet.Statuses[Model.Status] == "Submitted & Not Approved" ||
 COMP4911Timesheets.Models.Timesheet.Statuses[Model.Status] == "Rejected & Need Resubmission")
    {
        <a asp-action="Edit" asp-route-id="@Model.TimesheetId">Edit</a>
    }
    <br />
    <a asp-action="Index">Back to List</a>
</div>
