@model COMP4911Timesheets.Models.Timesheet

@{
    ViewData["pagetitle"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timesheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekEnding)
        </dt>
        <dd class="col-sm-10">
            @Model.WeekEnding.ToString("yyyy/MM/dd")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlexTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlexTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Statuses[Model.Status])
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                WorkPackage
            </th>
            <th>
                SatHour
            </th>
            <th>
                SunHour
            </th>
            <th>
                MonHour
            </th>
            <th>
                TueHour
            </th>
            <th>
                WedHour
            </th>
            <th>
                ThuHour
            </th>
            <th>
                FriHour
            </th>
            <th>
                Notes
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TimesheetRows != null)
        {
            foreach (var item in Model.TimesheetRows)
            {
                <tr>
                    <td>
                        @item.WorkPackage.Project.Name
                    </td>
                    <td>
                        @item.WorkPackage.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SatHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SunHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TueHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WedHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThuHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FriHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>


<div>
    @if (Model.Statuses[Model.Status] == "Not Submitted & Not Approved" || Model.Statuses[Model.Status] == "Submitted & Not Approved" || Model.Statuses[Model.Status] == "Rejected & Need Resubmission")
    {
        <a asp-action="Edit" asp-route-id="@Model.TimesheetId">Edit</a>
    }
    <br />
    <a asp-action="Index">Back to List</a>
</div>
