@model COMP4911Timesheets.Models.Timesheet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timesheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekEnding)
        </dt>
        <dd class="col-sm-10">
            @Model.WeekEnding.ToString("yyyy/MM/dd")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ESignature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ESignature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlexTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlexTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @{string status = "";}
            @if (Model.Status == 0) { status = "INVALID"; }
            @if (Model.Status == 1) { status = "NOT_SUBMITTED_NOT_APPROVED"; }
            @if (Model.Status == 2) { status = "SUBMITTED_NOT_APPROVED"; }
            @if (Model.Status == 3) { status = "SUBMITTED_APPROVED"; }
            @if (Model.Status == 4) { status = "REJECTED_NEED_RESUBMISSION"; }
            @status
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            Employee Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePayId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeePay.EmployeePayId)
        </dd>
        <dt class="col-sm-2">
            Total Hours
        </dt>
        <dd class="col-sm-10">
            @{double total = 0;}
            @if (Model.TimesheetRows != null)
            {
                foreach (var tr in Model.TimesheetRows)
                {
                    total += tr.MonHour + tr.TueHour + tr.WedHour + tr.ThuHour + tr.FriHour + tr.SatHour + tr.SunHour;
                }
            }
            @total
        </dd>
        <dt class="col-sm-2">
            Payment
        </dt>
        <dd class="col-sm-10">
            @{double pay = 0; }
            @if (Model.TimesheetRows != null)
            {
                foreach (var tr in Model.TimesheetRows)
                {
                    pay += (Model.EmployeePay.PayGrade.Cost) * (tr.MonHour + tr.TueHour + tr.WedHour + tr.ThuHour + tr.FriHour + tr.SatHour + tr.SunHour);
                }
            }
            @pay
        </dd>
        <dt class="col-sm-2">
            Payment Status
        </dt>
        <dd class="col-sm-10">
            @{string paystatus = "";}
            @if (Model.EmployeePay.Status == 0) { paystatus = "INVALID"; }
            @if (Model.EmployeePay.Status == 1) { paystatus = "VALID"; }
            @paystatus
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                WorkPackageId
            </th>
            <th>
                SatHour
            </th>
            <th>
                SunHour
            </th>
            <th>
                MonHour
            </th>
            <th>
                TueHour
            </th>
            <th>
                WedHour
            </th>
            <th>
                ThuHour
            </th>
            <th>
                FriHour
            </th>
            <th>
                Notes
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TimesheetRows != null)
        {
            foreach (var item in Model.TimesheetRows)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPackageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SunHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TueHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WedHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FriHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>

        </tr>
            }
        }
    </tbody>
</table>


<div>
    <a asp-action="Manage">Back to List</a>
</div>
