@model COMP4911Timesheets.Models.Timesheet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timesheet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekEnding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekEnding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlexTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlexTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePay.EmployeePayId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature.SignatureId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TimesheetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
