@model IEnumerable<COMP4911Timesheets.ViewModels.PayGradeManagement>

@{
    ViewData["PageTitle"] = "Pay Grades";
}

<h1>@ViewData["PageTitle"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table well bs-component">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayGrade.PayLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayGrade.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayGrade.Cost)
            </th>
            <th>
                # of Employees
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PayGrade.PayLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayGrade.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayGrade.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayGrade.EmployeePays.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PayGrade.PayGradeId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
