@model COMP4911Timesheets.Models.ResponsibleEngineerReport

@{
    ViewData["PageTitle"] = "Create";
    var pLevels = ViewBag.pLevels;
    var planned = ViewBag.planned;
    var spentTD = ViewBag.spentTD;
    var spentTW = ViewBag.spentTW;
    var needed = ViewBag.needed;
    var tableLength = ViewBag.tableLength;
}

<script type="text/javascript">
    function joinInputs() {
        let text = "{";

        for (let i = 1; i < @tableLength; i++) {
            text = text + document.getElementById('value ' + i).value + ":\'" + document.getElementById('input ' + i).value + "\',";
        }
        text = text + "}";

        document.getElementById('estimate').value = text;
    };
</script>

<h1>@ViewData["PageTitle"]</h1>

<h4>Responsible Engineer Report</h4>

<form asp-action="Create">
    <div class="well bs-component">
        <div class="form-row">
            <div class="form-group col-6">
                <label class="control-label">Project Name</label>
                <input value='@TempData["projectName"]' class="form-control-plaintext" readonly/>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Work Package Name</label>
                <input value="@Model.WorkPackage.Name" class="form-control-plaintext" readonly/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label class="control-label">Project Code</label>
                <input value='@TempData["projectCode"]' class="form-control-plaintext" readonly/>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Work Package Code</label>
                <input value='@TempData["workPackageCode"]' class="form-control-plaintext" readonly/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label class="control-label">Project Manager</label>
                <input value='@TempData["projectManager"]' class="form-control-plaintext" readonly/>
            </div>
            <div class="form-group col-6">
                <label class="control-label">Project Manager Assistant</label>
                <input value='@TempData["projectManagerAssistant"]' class="form-control-plaintext" readonly/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label class="control-label">Responsible Engineer</label>
                <input value='@TempData["projectResponsibleEngineer"]' class="form-control-plaintext" readonly/>
            </div>
            <div class="form-group col-6">
                <label asp-for="WeekNumber" class="control-label"></label>
                <input asp-for="WeekNumber" value="@Model.WeekNumber" class="form-control-plaintext" readonly/>
            </div>
        </div>
    </div>
    <br>

    <div class="well bs-component">
        <div class="form-row">
            <div class="form-group col-6">
                <label asp-for="StartingPercentage" class="control-label"></label>
                <input asp-for="StartingPercentage" value='@TempData["startPer"]' class="form-control-plaintext" readonly/>
            </div>
            <div class="form-group col-6">
                <label asp-for="CompletedPercentage" class="control-label"></label>
                <input asp-for="CompletedPercentage" value='@TempData["compPer"]'  class="form-control-plaintext" readonly/>
            </div>
        </div>
    </div>
    <br>

    <div class="well bs-component">
        <table>
            @for (int i = 0; i < tableLength; i++) {
                <tr class="row">
                    <td class="col-2">
                        <input id="value @i" value="@pLevels[i]" class="form-control-plaintext" readonly/>
                    </td>
                    <td class="col-2">
                        @Html.Raw(planned[i])
                    </td>
                    <td class="col-2">
                        @Html.Raw(spentTD[i])
                    </td>
                    <td class="col-2">
                        @Html.Raw(spentTW[i])
                    </td>
                    @if (i == 0) {
                        <td class="col-2">
                            @Html.Raw(needed[i])
                        </td>
                    } else {
                        <td class="col-2">
                            <input id="input @i" value="0" class="form-control" required/>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <br>
    <div class="well bs-component">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-6">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" required/>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label asp-for="WorkAccomplished" class="control-label"></label>
                <input asp-for="WorkAccomplished" class="form-control" required/>
                <span asp-validation-for="WorkAccomplished" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="Problem" class="control-label"></label>
                <input asp-for="Problem" class="form-control" required/>
                <span asp-validation-for="Problem" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label asp-for="WorkPlanned" class="control-label"></label>
                <input asp-for="WorkPlanned" class="form-control" required/>
                <span asp-validation-for="WorkPlanned" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="ProblemAnticipated" class="control-label"></label>
                <input asp-for="ProblemAnticipated" class="form-control" required/>
                <span asp-validation-for="ProblemAnticipated" class="text-danger"></span>
            </div>
        </div>
        <input asp-for="WorkPackageId" value="@Model.WorkPackageId" class="form-control" hidden/>
        <input asp-for="ResponsibleEngineerReportId" value="@Model.ResponsibleEngineerReportId" hidden/>
        <input id="estimate" asp-for="ResponsibleEngineerEstimate" hidden/>
        <div class="form-group">
            <input type="submit" value="Create" onclick="joinInputs();" class="btn btn-primary btn-raised" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Reports" asp-route-id="@Model.WorkPackageId" asp-controller="ResponsibleEngineerReports">Back to List</a>
</div>
