@model IEnumerable<COMP4911Timesheets.Models.ResponsibleEngineerReport>

@{
    ViewData["PageTitle"] = "Responsible Engineer Reports Page";
}
<h4>@TempData["info"]</h4>

@if (User.Identity.IsAuthenticated && (User.IsInRole(role: "AD") || User.IsInRole(role: "PM") || User.IsInRole(role: "PA") || User.IsInRole(role: "RE")))
{

    <h1>@TempData["workPackageName"] - Responsible Engineer Reports</h1>

    //Need to hide button when workpackage is closed. RE reports should still be viewable
    //Need to hide for leaf workpackages too
    //@if (@TempData["workPackageStatus"] == WorkPackage.OPENED) {
        <a asp-action="Create" asp-route-id="@TempData["workPackageId"]">Create a Responsible Engineers Report</a>
    //}
    
    <div class="row well bs-component">
        <div class="col-2">
            @Html.DisplayNameFor(model => model.WeekNumber)
        </div>
        <div class="col-3">
            @Html.DisplayNameFor(model => model.CompletedPercentage)
        </div>
        <div class="col-6">
            @Html.DisplayNameFor(model => model.Comments)
        </div>
        <div class="col-1">
            Details
        </div>
    </div>
    <br>
    @if (Model != null)
    {
        foreach (var report in Model)
        {
            <div class="row well bs-component">
                <div class="col-2">
                    @Html.DisplayFor(modelReport => report.WeekNumber)
                </div>
                <div class="col-3">
                    @Html.DisplayFor(modelReport => report.CompletedPercentage)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(modelReport => report.Comments)
                </div>
                <div class="col-1">
                    //TODO
                    <a asp-action="ReportDetails" asp-route-id="report.">Details</a>
                </div>
            </div>
        }
    }
}
