@model COMP4911Timesheets.ViewModels.ManageProject

@{
    ViewData["PageTitle"] = @Model.project.Name;
}

<h1>@ViewData["PageTitle"]</h1>
<form asp-action="Edit">
    <div class="row well bs-component">

        <div class="col-md-6 col-lg-4">
            <h4>Project Summary</h4>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="project.ProjectId" />

            <div class="form-group">
                <label asp-for="project.ProjectCode" class="control-label"></label>
                <input asp-for="project.ProjectCode" class="form-control" />
                <span asp-validation-for="project.ProjectCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="project.Name" class="control-label"></label>
                <input asp-for="project.Name" class="form-control" required />
                <span asp-validation-for="project.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="project.Description" class="control-label"></label>
                <input asp-for="project.Description" class="form-control" />
                <span asp-validation-for="project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectManager" class="control-label"></label>
                @{
                    if (ViewBag.Assistant)
                    {
                        <select asp-for="projectManager" class="form-control searchDropDown" asp-items="ViewBag.EmployeesM" disabled="disabled"></select>
                    }
                    else
                    {
                        <select asp-for="projectManager" class="form-control searchDropDown" asp-items="ViewBag.EmployeesM"></select>

                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="managersAssistant" class="control-label"></label>
                @{
                    if (ViewBag.Assistant)
                    {
                        <select asp-for="managersAssistant" class="form-control searchDropDown" asp-items="ViewBag.EmployeesA" disabled="disabled"></select>
                    }
                    else
                    {
                        <select asp-for="managersAssistant" class="form-control searchDropDown" asp-items="ViewBag.EmployeesA"></select>
                        <span class="text-danger">@ViewBag.MgrIsAssist</span>
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="project.CostingProposal" class="control-label"></label>
                <input asp-for="project.CostingProposal" class="form-control" required type="number" min="0" />
                <span asp-validation-for="project.CostingProposal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="project.OriginalBudget" class="control-label"></label>
                <input asp-for="project.OriginalBudget" class="form-control" required type="number" min="0" />
                <span asp-validation-for="project.OriginalBudget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="project.MarkupRate" class="control-label"></label>
                <input asp-for="project.MarkupRate" type="number" class="form-control" required min="0" />
                <span asp-validation-for="project.MarkupRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="project.Status" class="control-label"></label>
                <select asp-for="project.Status" class="form-control searchDropDown" asp-items="ViewBag.Status"></select>
            </div>
            <input type="submit" value="Save" class="btn btn-primary btn-raised" /><br /><br />
        </div>

        <div class="col-md-8 col-lg-4">
            <h4>Employees Requested</h4>
            <hr />
            @for (int i = 0; i < Model.requests.Count; ++i)
            {
                <div class="form-group">
                    <label>@Model.requests[i].PayGrade.PayLevel</label>
                    <input type="hidden" asp-for="requests[i].PayGradeId" />
                    <input type="hidden" asp-for="requests[i].ProjectId" />
                    <input asp-for="requests[i].AmountRequested" class="form-control" type="number" min="0" />
                    <span asp-validation-for="requests[i].AmountRequested" class="text-danger"></span>
                </div>
            }
        </div>

        <div class="col-md-8 col-lg-4 overflow">
            <h4>Employees</h4>
            <hr />
            <ul class="projectEmployeeList">
                @foreach (var e in Model.project.ProjectEmployees)
                {
                    <li>
                        <strong>@ProjectEmployee.Roles[e.Role]</strong> :
                        @e.Employee.Email
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-lg-6 well bs-component">
            <div class="form-group">
                <label class="control-label">Work Packages</label>
                <ul>
                    @foreach (var w in Model.project.WorkPackages)
                    {
                        <li>
                            @Html.ActionLink(w.Name, "Edit", "WorkPackages", new { id = w.WorkPackageId }, null)
                        </li>
                    }
                </ul>
                @*<select asp-for="project.WorkPackages" class="form-control  wps" asp-items="ViewBag.WPs"></select>*@
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function(){
            $(".wps").change(function(){
            var selectOption= $(this).find(":selected");
            var selectedItemText = selectOption.text();
            var redirectURL = '@Url.Action("Edit", "WorkPackages")';
            window.location.href = redirectURL + "?item=" + selectedItem;
            }
        }
    </script>

}