@model IEnumerable<COMP4911Timesheets.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table well bs-component">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.CostingProposal)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.OriginalBudget)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="priority-2">
                @Html.DisplayFor(modelItem => item.CostingProposal)
            </td>
            <td class="priority-2">
                @Html.DisplayFor(modelItem => item.OriginalBudget)
            </td>
            <td class="priority-2">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Manage [PM ONLY]</a> <br />
                <a asp-action="Details" asp-route-id="@item.ProjectId">View [Workers]</a> 
            </td>
        </tr>
}
    </tbody>
</table>
