@model IEnumerable<COMP4911Timesheets.ViewModels.LineManagerManagement>

@{
    ViewData["PageTitle"] = "Employees";
}

<h1>@ViewData["PageTitle"]</h1>

<p>
    <a asp-action="ProjectIndex">Projects</a>
</p>

<table class="table well bs-component">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Approver)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.Employee.Title)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.Employee.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Timesheets)
            </th>
            <th>
                PLevel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Approver.Email)
                </td>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => COMP4911Timesheets.Models.Employee.JobTitles[item.Employee.Title])
                </td>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => item.Employee.Email)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Employee.Id">
                        @item.Employee.Timesheets.Count
                    </a>
                </td>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => item.EmployeePay.PayGrade.PayLevel)
                </td>
                <td>
                    <a asp-action="ChangeTA" asp-route-id="@item.Employee.Id">Change TA</a>
                </td>
            </tr>
        }
    </tbody>
</table>
