@model IEnumerable<COMP4911Timesheets.ViewModels.EmployeeManagement>

@{
    ViewData["PageTitle"] = "Index";
}

<h1>Assign Employees to Work Packages</h1>
<h4>@TempData["info"]</h4>

<table class="table well bs-component">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePay.PayGrade.PayLevel)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.Employee.Status)
            </th>
            <th class="priority-2">
                Roles
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePay.PayGrade.PayLevel)
            </td>
            <td class="priority-2">
                @Html.DisplayFor(modelItem => COMP4911Timesheets.Models.Employee.Statuses[item.Employee.Status])
            </td>
            <td>
                @foreach (var role in item.Role)
                {

                    @if (role == ProjectEmployee.PROJECT_MANAGER)
                    {
                        <p>
                            PROJECT MANAGER
                        </p>
                    }

                    @if (role == ProjectEmployee.PROJECT_ASSISTANT)
                    {
                        <p>
                            PROJECT ASSISTANT
                        </p>
                    }
                    @if (role == ProjectEmployee.RESPONSIBLE_ENGINEER)
                    {
                        <p>
                            RESPONSIBLE ENGINEER
                        </p>
                    }
                    @if (role == ProjectEmployee.EMPLOYEE)
                    {
                        <p>
                            EMPLOYEE
                        </p>
                    }
                    @if (role == ProjectEmployee.NOT_ASSIGNED)
                    {
                        <p>
                            NOT ASSIGNED
                        </p>
                    }
                }
            </td>
            @if (!item.Role.Contains(ProjectEmployee.RESPONSIBLE_ENGINEER))
            {
                <td>
                    @Html.ActionLink("AssignRE", "AssignRE", "WorkPackages", new { EmployeeId = item.Employee.Id, name = item.Employee.FirstName },
                         new { @class = "btn btn-primary btn-block", @role = "button" })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("RemoveRE", "RemoveRE", "WorkPackages", new { EmployeeId = item.Employee.Id},
                         new { @class = "btn btn-primary btn-block", @role = "button" })
                </td>
            }
            @if (!item.Role.Contains(ProjectEmployee.EMPLOYEE))
            {
                <td>
                    @Html.ActionLink("AssignEm", "AssignEm", "WorkPackages", new { EmployeeId = item.Employee.Id },
                        new { @class = "btn btn-primary btn-block", @role = "button" })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("RemoveEm", "RemoveEm", "WorkPackages", new { EmployeeId = item.Employee.Id },
                        new { @class = "btn btn-primary btn-block", @role = "button" })
                </td>
            }
        </tr>
        }
    </tbody>
</table>

<a asp-action="ProjectWorkPackges" asp-controller="WorkPackages" asp-route-id="@ViewData["projectId"]">Back to List</a>
