@model IEnumerable<COMP4911Timesheets.Models.WorkPackage>

@{
    ViewData["PageTitle"] = "Index";
}

<h1>Closed Internal Work Packages - @ViewData["projectName"] @ViewData["projectCode"]</h1>
<h4>@TempData["info"]</h4>

<table class="table well bs-component">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkPackageCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contractor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentWorkPackage)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.WorkPackageCode" name="@item.WorkPackageCode">
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPackageCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contractor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purpose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity)
                </td>
                <td>
                    Closed
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentWorkPackage.WorkPackageCode)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.WorkPackageId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="ProjectWorkPackges" asp-controller="WorkPackages" asp-route-id="@ViewData["projectId"]">Back to List</a>