@model COMP4911Timesheets.Models.WorkPackage

@{
    ViewData["PageTitle"] = "Edit";
    ViewBag.Display = ViewBag.ErrorMessage != null ? "block" : "none";
}

<h1>@ViewData["PageTitle"]</h1>

<h4>Work Package</h4>
<hr />
<div class="@ViewBag.Display">
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.ErrorMessage
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-lg-6 well bs-component">
        <form asp-action="Edit"  asp-route-pId="@TempData["projectId"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkPackageId" />
            <div class="form-group">
                <label asp-for="WorkPackageCode" class="control-label"></label>
                <input asp-for="WorkPackageCode" class="form-control" readonly />
                <span asp-validation-for="WorkPackageCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contractor" class="control-label"></label>
                <input asp-for="Contractor" class="form-control" />
                <span asp-validation-for="Contractor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input" class="control-label"></label>
                <input asp-for="Input" class="form-control" />
                <span asp-validation-for="Input" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Output" class="control-label"></label>
                <input asp-for="Output" class="form-control" />
                <span asp-validation-for="Output" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <input asp-for="Activity" class="form-control" />
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="2">Open</option>
                    <option value="3">Closed</option>
                    <option value="4">Archived</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="ParentWorkPackageId" class="control-label"></label>
                <select asp-for="ParentWorkPackageId" class="form-control" asp-items="ViewBag.ParentWorkPackageId"></select>
                <span asp-validation-for="ParentWorkPackageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-raised" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-controller="Projects" asp-route-id="@Model.ProjectId">Back to Project</a><br />
    <a asp-action="ProjectWorkPackges" asp-route-id="@Model.ProjectId" asp-controller="WorkPackages">Back to Project Work Packages</a><br />
    <a asp-action="Index">Back to all Work Packages</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
