@inject UserManager<Employee> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageTitle"] - COMP4911Timesheets</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/Dashboard.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-dark.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-paper.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/Dashboard.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-dark.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-paper.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/eRUPt_logo_trans.png" width="80"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            //var user = await UserManager.FindByNameAsync(User.Identity.Name);
                            if (User.IsInRole(role:"AD") || User.IsInRole(role: "HR"))
                            {
                                <li class="nav-item dropdown @Html.IsSelected(actions: "Index,Create,Details,Delete,Edit,Backup,Restore", controllers: "Employees,PayGrades,Admins")">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" id="download">
                                        Management <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="download">
                                        @{
                                            if (User.IsInRole(role:"AD")) {
                                                <li>
                                                    <a class="nav-link" asp-area="" asp-controller="Admins" asp-action="Index">
                                                        Administrative
                                                    </a>
                                                </li>
                                            }
                                        }
                                        <li>
                                            <a class="nav-link" asp-area="" asp-controller="Employees" asp-action="Index">
                                                Employees
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" asp-area="" asp-controller="PayGrades" asp-action="Index">
                                                Pay Grades
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item dropdown @Html.IsSelected(actions: "Index,Create,Details,Delete,Edit", controllers: "Projects,ProjectSumReport")">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" id="download">
                                    Project <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="download">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">
                                            Projects
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="ProjectSumReport" asp-action="Index">
                                            Project Summary Reports
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item @Html.IsSelected(actions: "Index,Create,Details,Delete,Edit", controllers: "Timesheets,TimesheetRows")">
                                <a class="nav-link" asp-area="" asp-controller="Timesheets" asp-action="Index">Timesheet</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - eRUPt @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="~/js/select2placeholder.js"></script>
        <script>
            $(function () {
                $(".searchDropDown").select2({
                    width: "100%",
                    searchInputPlaceholder: 'Search...'
                });
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script src="~/js/select2placeholder.js"></script>
        <script>
            $(function () {
                $(".searchDropDown").select2({
                    width: "100%"
                });
            });
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
