@model IEnumerable<COMP4911Timesheets.Models.Timesheet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeekEnding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlexTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeekEnding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlexTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePay.EmployeePayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Signature.SignatureId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimesheetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimesheetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimesheetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
