@model COMP4911Timesheets.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row col-lg-6 well bs-component ">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => this.Model.JobTitles[this.Model.Title])
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FlexTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FlexTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.VacationTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.VacationTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Approver)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Approver.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Supervisor.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
