@model IEnumerable<COMP4911Timesheets.ViewModels.EmployeeManagement>

@{
    ViewData["PageTitle"] = "Employees";
}

<h1>@ViewData["PageTitle"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
<p>
    Find by name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" class="btn btn-primary btn-sm btn-raised" />
    <a asp-action="Index" class="btn btn-warning btn-sm btn-raised">Reset</a>
</p>
}
<table class="table well bs-component">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePay.PayGrade.PayLevel)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.Employee.Title)
            </th>
            <th class="priority-2">
                @Html.DisplayNameFor(model => model.Employee.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeePay.PayGrade.PayLevel)
                </td>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => COMP4911Timesheets.Models.Employee.JobTitles[item.Employee.Title])
                </td>
                <td class="priority-2">
                    @Html.DisplayFor(modelItem => COMP4911Timesheets.Models.Employee.Statuses[item.Employee.Status])
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Employee.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Employee.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Employee.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
